<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<style>
   ul li {
        display: inline;
        padding: 10px;
       float: left;
}
      /*    .field {clear:both; text-align:right;line-height:25px;}*/
      /*.input_data {float:left}*/
</style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header row">
            <a href="/testpage/calculations" class="navbar-brand col-md-1">ВЭИП 2.0</a>
        </div>
        <div class="col-md-11">
            <ul class="list-inline">
                <li><a href="/testpage/calculations">Расчеты</a></li>
                <li><a href="/testpage/history">История расчетов</a></li>
                <li><a href="/testpage/theory">Теория</a></li>
                <li><a href="/testpage/change">Изменить данные</a></li>
                {% if username %}
                <li><a  href="/auth/logout/">Выйти ({{ username }})</a></li>
                {% else %}
                <li><a href="/auth/login/">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="input_data">
    <div class="field">
         <label> Тип пути </label>
        <select>
       {% for type in types_way %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
    </div>
    <div class="field">
        <label> Тип экипажа </label>
        <select>
       {% for type in types_train %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
    </div>

    <div class="field">
       <label>Скорость движения, м/с </label>
       <input type="text" name="c1">
    </div>
</div>
<!--<div class="row">-->
<!--    <div class="col-md-4">-->
<!--        <img src="{% static '0.jpg' %}" class="img-flued" width="350" height="200">-->
<!--    </div>-->
<!--</div>-->
</body>
</html>