<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61914508, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61914508" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    <title>Расчеты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#accordion .panel{
 border: none;
 box-shadow: none;
 border-radius: 0;
 margin-bottom: -5px;
}
#accordion .panel-heading{
 padding: 0;
 border-radius: 0;
 border: none;
 text-align: center;
}
#accordion .panel-title a{
 display: block;
 padding: 25px 30px;
 font-size: 16px;
 font-weight: bold;
 color: #fff;
 background: #333;
 border-bottom: 1px solid #4a4a4a;
 position: relative;
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a:hover{
 background: #4a4a4a;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
 content: "\f067";
 font-family: FontAwesome;
 font-size: 15px;
 font-weight: 200;
 position: absolute;
 top: 25px;
 left: 15px;
 transform: rotate(135deg);
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:after{
 transform: rotate(0deg);
}
#accordion .panel-body{
 background: #167ea0;
 padding: 0 0 0 40px;
 border: none;
 position: relative;
}
#accordion .panel-body p{
 font-size: 14px;
 color: #fff;
 line-height: 25px;
 background: #3296b7;
 padding: 30px;
 margin: 0;
}
#accordion .panel-body label{
 font-size: 14px;
 color: #fff;

}
#accordion .panel-collapse .panel-body p{
 opacity: 0;
 transform: scale(0.9);
 transition: all 0.5s ease-in-out 0s;
}
#accordion .panel-collapse.in .panel-body p{
 opacity: 1;
 transform: scale(1);
}
    ul li {
        display: inline;
        padding: 10px;
       float: left;
}
    .field {clear:both; text-align:right; padding-left: 35%; padding-right: 35%; margin: 5px}
    label {float:left; }
    .main_inp {float:left; width:100%;}
    .button {float:right;  margin-right: 35%;}
    input{ width: 20%}
</style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header row">
            <a href="/testpage/calculations" class="navbar-brand col-md-1">ВЭИП 2.0</a>
        </div>
        <div class="col-md-11">
            <ul class="list-inline">
                <li class="active"><a href="/testpage/calculations">Расчеты</a></li>
                <li><a href="/testpage/history">История расчетов</a></li>
                <li><a href="/testpage/theory">Теория</a></li>
                <li><a href="/testpage/change">Изменить данные</a></li>
                {% if username %}
                <li><a  href="/auth/logout/">Выйти ({{ username }})</a></li>
                {% else %}
                <li><a href="/auth/login/">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
<div class="row">


 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width:100%;">

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingOne">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Одновариантный расчет
 </a>
 </h4>
 </div>
 <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" >
 <div class="panel-body">
   <form action="/testpage/rsult" method="post" target="_blank">
   {% csrf_token %}
       <div class="input_data">
        <div class="field">
    <label> Номер выбранного набора данных в файле TPS </label>
     <select name="tps" id="tps">
       {% for type in tps %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
    </div>
       <div class="field">
    <label> Номер выбранного набора данных в файле VSP </label>
     <select name="vsp" id="vsp">
       {% for type in vsp %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
    </div>
     <div class="field">
    <label> Номер выбранного набора данных в файле SPKH </label>
     <select name="spkh" id="spkh">
       {% for type in spkh %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
     </div>
       <div class="field">
    <label> Номер выбранного набора данных в файле SPKV </label>
     <select name="spkv" id="spkv">
       {% for type in spkv %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
      </div>
       <div class="field">
    <label> Номер выбранного набора данных в файле EKIP </label>
     <select name="ekip" id="ekip">
       {% for type in ekip %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
      </div>
      <div class="field">
       <label> Радиус кривой, м </label>
       <input type="number" step="any" name="rk" id="rk">
      </div>
      <div class="field">
       <label> Расстояние между кругами катания, м </label>
       <input type="number" step="any" name="rmk" id="rmk">
      </div>
       <div class="field">
       <label> Возвышение наружного рельса, м </label>
       <input type="number" step="any" name="voz" id="voz">
      </div>
      <div class="field">
       <label> Коэффициент Крипа, тс/м </label>
       <input type="number" step="any" name="krip" id="krip">
      </div>
      <div class="field">
       <label> Горизонтальная жесткость пути, тс/м </label>
       <input type="number" step="any" name="gor" id="gor">
      </div>
      <div class="field">
       <label> Половина ширины зазора в колее </label>
       <input type="number" step="any" name="pol" id="pol">
      </div>
        <div class="field">
       <label> Угловой коэффициент </label>
       <input type="number" step="any" name="ugl" id="ugl">
      </div>
      <div class="field">
       <label> Соотношение коэффициентов Крипа </label>
       <input type="number" step="any" name="skrip" id="skrip">
      </div>
    <div class="field">
       <label>Скорость движения, м/с </label>
       <input type="number" step="any" name="speed" id="speed">
    </div>
</div>
       <button type="submit"  class="button">Рассчитать</button>
   </form>


 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingTwo">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Многовариантный расчет
 </a>
 </h4>
 </div>
 <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
 <div class="panel-body">
     <form action="/testpage/multirsult" method="post">
   {% csrf_token %}
       <div class="input_data">
        <div class="field">
    <label> Номер выбранного набора данных в файле TPS </label>
     <select name="tps" id="tpsm">
       {% for type in types %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
    </div>
       <div class="field">
    <label> Номер выбранного набора данных в файле VSP </label>
     <select name="vsp" id="vspm">
       {% for type in types %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
    </div>
     <div class="field">
    <label> Номер выбранного набора данных в файле SPKH </label>
     <select name="spkh" id="spkh">
       {% for type in types %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
     </div>
       <div class="field">
    <label> Номер выбранного набора данных в файле SPKV </label>
     <select name="spkv" id="spkv">
       {% for type in types %}
       <option>{{ type }}</option>
       {% endfor %}
     </select>
      </div>
      <div class="field">
       <label> Радиус кривой, м </label>
       <input type="number" step="any" name="rk" id="rkm">
      </div>
      <div class="field">
       <label> Расстояние между кругами катания, м </label>
       <input type="number" step="any" name="rmk" id="rmkm">
      </div>
       <div class="field">
       <label> Возвышение наружного рельса, м </label>
       <input type="number" step="any" name="voz" id="vozm">
      </div>
      <div class="field">
       <label> Коэффициент Крипа, тс/м </label>
       <input type="number" step="any" name="krip" id="kripm">
      </div>
      <div class="field">
       <label> Горизонтальная жесткость пути, тс/м </label>
       <input type="number" step="any" name="gor" id="gorm">
      </div>
      <div class="field">
       <label> Половина ширины зазора в колее </label>
       <input type="number" step="any" name="pol" id="polm">
      </div>
        <div class="field">
       <label> Угловой коэффициент </label>
       <input type="number" step="any" name="ugl" id="uglm">
      </div>
      <div class="field">
       <label> Соотношение коэффициентов Крипа </label>
       <input type="number" step="any" name="skrip" id="skripm">
      </div>

    <div class="field">
       <label>Диапазон скорости движения, м/с от </label>
       <input type="number" step="any" name="speedl" id="speedl">
    </div>
       <div class="field">
            <label> до </label>
        <input type="number" step="any" name="speedh" id="speedh">
        </div>
</div>
       <button type="submit"  class="button">Рассчитать</button>
   </form>
  </div>
 </div>
 </div>


 </div>

</div><!-- ./row -->
<div class="row">
<table class="table">
{#    <thead>#}
{#    <tr>#}
{#        <th>ID</th>#}
{#        <th>Логин</th>#}
{#        <th>Тип поезда</th>#}
{#        <th>Тип пути</th>#}
{#        <th>Скорость м/с</th>#}
{#        <th></th>#}
{#    </tr>#}
{#    </thead>#}
    <tbody>
    {% for id,user,time,tps,vsp,spkh,spkv,ekip,rk,rmk,voz,krip,gor,pol,ugl,skrip,speed in inputdata %}
   <form action="/testpage/viewres" method="post">
{% csrf_token %}
        <tr>
            <input name="id" value="{{ id }}" type="hidden">
            <input name="user" value="{{ user }}" type="hidden">
            <input name="time" value="{{ time }}" type="hidden">
            <th>{{ tps }}<input name="tps" value="{{ tps }}" type="hidden"></th>
            <th>{{ vsp }}<input name="vsp" value="{{ vsp }}" type="hidden"></th>
            <th>{{ spkh }}<input name="spkh" value="{{ spkh }}" type="hidden"></th>
            <th>{{ spkv }}<input name="spkv" value="{{ spkv }}" type="hidden"></th>
            <th>{{ ekip }}<input name="ekip" value="{{ spkv }}" type="hidden"></th>
            <th>{{ rk }}<input name="rk" value="{{ rk }}" type="hidden"></th>
            <th>{{ rmk }}<input name="rmk" value="{{ rmk }}" type="hidden"></th>
            <th>{{ voz }}<input name="voz" value="{{ voz }}" type="hidden"></th>
            <th>{{ krip }}<input name="krip" value="{{ krip }}" type="hidden"></th>
            <th>{{ gor }}<input name="gor" value="{{ gor }}" type="hidden"></th>
            <th>{{ pol }}<input name="pol" value="{{ pol }}" type="hidden"></th>
            <th>{{ ugl }}<input name="ugl" value="{{ ugl }}" type="hidden"></th>
            <th>{{ skrip }}<input name="skrip" value="{{ skrip }}" type="hidden"></th>
            <th>{{ speed }}<input name="speed" value="{{ speed }}" type="hidden"></th>
{#            <th>{{ status }}</th>#}
            <th><button type="submit" >Результат</button></th>
        </tr>
    </form>

    {% endfor %}
    </tbody>
</table>
</div>
</div><!-- ./container -->
</body>
</html>