<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61914508, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61914508" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    <title>Изменение данных</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#accordion .panel{
 border: none;
 box-shadow: none;
 border-radius: 0;
 margin-bottom: -5px;
}
#accordion .panel-heading{
 padding: 0;
 border-radius: 0;
 border: none;
 text-align: center;
}
#accordion .panel-title a{
 display: block;
 padding: 25px 30px;
 font-size: 16px;
 font-weight: bold;
 color: #fff;
 background: #333;
 border-bottom: 1px solid #4a4a4a;
 position: relative;
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a:hover{
 background: #4a4a4a;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
 content: "\f067";
 font-family: FontAwesome;
 font-size: 15px;
 font-weight: 200;
 position: absolute;
 top: 25px;
 left: 15px;
 transform: rotate(135deg);
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:after{
 transform: rotate(0deg);
}
#accordion .panel-body{
 background: #167ea0;
 padding: 0 0 0 40px;
 border: none;
 position: relative;
}
#accordion .panel-body p{
 font-size: 14px;
 color: #fff;
 line-height: 25px;
 background: #3296b7;
 padding: 30px;
 margin: 0;
}
#accordion .panel-body label{
 font-size: 14px;
 color: #fff;

}
#accordion .panel-collapse .panel-body p{
 opacity: 0;
 transform: scale(0.9);
 transition: all 0.5s ease-in-out 0s;
}
#accordion .panel-collapse.in .panel-body p{
 opacity: 1;
 transform: scale(1);
}
    ul li {
        display: inline;
        padding: 10px;
       float: left;
}
    .field {clear:both; text-align:right; padding-left: 10%; padding-right: 10%;}
    label {float:left; }
    .main_inp {float:left; width:100%;}
    .button {float:right;  margin-right: 10%;}
</style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header row">
            <a href="/testpage/calculations" class="navbar-brand col-md-1">ВЭИП 2.0</a>
        </div>
        <div class="col-md-11">
            <ul class="list-inline">
                <li class="active"><a href="/testpage/calculations">Расчеты</a></li>
                <li><a href="/testpage/history">История расчетов</a></li>
                <li><a href="/testpage/theory">Теория</a></li>
                <li><a href="/testpage/change">Изменить данные</a></li>
                {% if username %}
                <li><a  href="/auth/logout/">Выйти ({{ username }})</a></li>
                {% else %}
                <li><a href="/auth/login/">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
<div class="row">


 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width:100%;">

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingOne">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Изменение информации о различных типах подвижного состава
 </a>
 </h4>
 </div>
 <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" >
 <div class="panel-body">
     <div class="main_inp">
         <form action="/testpage/change_ТРS" method="post">
{% csrf_token %}
     <div class="field">
          <label>Наименование подвижного состава</label>
          <input type="text" name="t">
     </div>
     <div class="field">
           <label>Жесткость поперечной связи между колесной парой и тележкой, кН/м</label>
           <input type="number" step="any" min="0" name="ek1">
     </div>
     <div class="field">
         <label>Жесткость поперечной связи между кузовом и тележкой, кН/м</label>
         <input type="number" step="any" min="0" name="ek2">
     </div>
     <div class="field">
         <label>Жесткость надбуксовой ступени подвешивания, кН/м</label>
         <input type="number" step="any" min="0" name="ek3">
     </div>
     <div class="field">
           <label>Жесткость центральной ступени подвешивания, кН/м</label>
           <input type="number" step="any" min="0" name="ek4">
     </div>
     <div class="field">
         <label>Угловая жесткость поворота колесной пары относительно тележки, кН*м</label>
         <input type="number"  step="any" min="0" name="ek5">
     </div>
     <div class="field">
         <label>Угловая жесткость поворота тележки относительно кузова,кН*м</label>
         <input type="number" step="any" min="0" name="ek6">
     </div>
     <div class="field">
           <label>Масса колесной пары, кг</label>
           <input type="number" step="any" min="0" name="ek7">
     </div>
     <div class="field">
         <label>Масса рамы тележки, кг</label>
         <input type="number" step="any" min="0" name="ek8">
     </div>
     <div class="field">
         <label>Масса рамы тележки, кг</label>
         <input type="number" step="any" min="0" name="ek9">
     </div>
     <div class="field">
           <label>Статическая нагрузка на колесо, кН</label>
           <input type="number" step="any" min="0" name="ek10">
     </div>
     <div class="field">
         <label>Эффективная конусность бандажа</label>
         <input type="number" step="any" min="0" name="ek11">
     </div>
     <div class="field">
         <label>Радиус колеса, м</label>
         <input type="number" step="any" min="0" name="ek12">
     </div>
     <div class="field">
           <label>Расстояние от центра качаний до центра масс кузова,м</label>
           <input type="number" step="any" min="0" name="ek13">
     </div>
     <div class="field">
         <label>Половина поперечного расстояния между рессорными комплектами,м</label>
         <input type="number" step="any" min="0" name="ek14">
     </div>
     <div class="field">
         <label>Центральный момент инерции колесной пары относительно вертикальной оси, кг*m**2</label>
         <input type="number" step="any" min="0" name="ek15">
     </div>
     <div class="field">
           <label>Центральный момент инерции рамы тележки относительно вертикальной оси, кг*m**2</label>
           <input type="number" step="any" min="0" name="ek16">
     </div>
     <div class="field">
         <label>Центральный момент инерции рамы тележки относительно горизонтальной поперечной оси, кг*m**2</label>
         <input type="number" step="any" min="0" name="ek17">
     </div>
     <div class="field">
         <label>Центральный момент инерции кузова относительно вертикальной оси, кг*m**2</label>
         <input type="number" step="any" min="0" name="ek18">
     </div>
     <div class="field">
           <label>Центральный момент инерции относительно горизонтальной продольной оси, кг*m**2</label>
           <input type="number" step="any" min="0" name="ek19">
     </div>
     <div class="field">
         <label>Центральный момент инерции относительно горизонтальной-поперечной оси, кг*m**2</label>
         <input type="number" step="any" min="0" name="ek20">
     </div>
     <div class="field">
         <label>Коэффициент демпфирования поперечной связи тележки с кузовом, кН*c/m</label>
         <input type="number" step="any" min="0" name="ek21">
     </div>
     <div class="field">
           <label>Коэффициент демпфирования в надбуксовой ступени подвешивания, кН*c/m</label>
           <input type="number" step="any" min="0" name="ek22">
     </div>
     <div class="field">
         <label>Коэффициент демпфирования в центральной ступени подвешивания, кН*c/m</label>
         <input type="number" step="any" min="0" name="ek23">
     </div>
     <div class="field">
         <label>Коэффициент углового демпфирования при повороте тележки относительно кузова</label>
         <input type="number" step="any" min="0" name="ek24">
     </div>
       <div class="field">
         <label>Расстояние от центра</label>
         <input type="number" step="any" min="0" name="hct">
     </div>
             <div class="field">
         <label>Число тележек</label>
         <input type="number" step="any" min="0" name="n1">
     </div>
             <div class="field">
         <label>Число осей в тележке</label>
         <input type="number" step="any" min="0" name="no1">
     </div>
             <div class="field">
         <label>Координаты точек подвешивания тележек, м</label>
         <input type="text" name="an1">
     </div>
             <div class="field">
         <label>Координаты точек подвешивания колёсных пар, м</label>
         <input type="text" name="an2">
     </div>
              <button type="submit"  class="button">Добавить</button>
    </form>
     </div>

 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingTwo">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Изменение информации о спектральных плотностях неровностей пути в плане и по уровню для различных участков
 </a>
 </h4>
 </div>
 <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
 <div class="panel-body">
 <div class="main_inp">
      <form action="/testpage/change_SPKH" method="post">
          <div class="field">
           <label>Количество точек в таблице, описывающей спектральные плотности неровностей пути в горизонтальной плоскости</label>
           <input type="number" step="any" min="0" name="nomh">
     </div>
          <div class="field">
           <label>Вектор частот, 2*3.14/м</label>
         <input type="text" name="f">
     </div>
          <div class="field">
           <label>Вектор спектральных плотностей неровностей пути в плане m**3/(2*3.14)</label>
         <input type="text" name="fp">
     </div>
          <div class="field">
           <label>Вектор спектральных плотностей неровностей пути по уровню m**3/(2*3.14)</label>
         <input type="text" name="fp">
     </div>
              <button type="submit"  class="button">Добавить</button>
      </form>
 </div>
 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingThree">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Изменение информации о спектральных плотностях неровностей пути в продольном профиле для различных участков
 </a>
 </h4>
 </div>
 <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
 <div class="panel-body">
 <div class="main_inp">
      <form action="/testpage/change_SPKV" method="post">
          <div class="field">
           <label>Количество точек в таблице, описывающей спектральные плотности неровностей пути и колес в вертикальной плоскости.</label>
           <input type="number" step="any" min="0" name="nomv">
     </div>
          <div class="field">
           <label>Вектор частот, 2*3.14/м</label>
         <input type="text" name="s">
     </div>
          <div class="field">
           <label>Вектор спектральных плотностей неровностей пути в продольном профиле, см**3/(2*3.14)</label>
         <input type="text" name="s1">
     </div>
          <div class="field">
           <label>Вектор спектральных плотностей неровностей на поверхности катания колеса, см**3/(2*3.14)</label>
         <input type="text" name="s2">
     </div>
            <div class="field">
           <label>Вектор спектральных плотностей зазоров между рельсом и основанием, см**3/(2*3.14)</label>
         <input type="text" name="s3">
     </div>
              <button type="submit"  class="button">Добавить</button>
      </form>
 </div>
 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingFour">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
Изменение информации о координатах характерных точек кузова и тележек различных типов подвижного состава
 </a>
 </h4>
 </div>
 <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
 <div class="panel-body">
     <div class="main_inp">
      <form action="/testpage/change_EKIP" method="post">
          <div class="field">
           <label>Число характерных точек кузова, заданных в таблице набора данных</label>
           <input type="number" step="any" min="0" name="ikus">
     </div>
          <div class="field">
           <label>Вектор координат характерных точек кузова</label>
         <input type="text" name="xkus">
              <input type="text" name="ykus">
              <input type="text" name="zkus">
     </div>
          <div class="field">
           <label>Число характерных точек первой тележки в таблице набора данных</label>
         <input type="number" name="itel1">
     </div>
          <div class="field">
           <label>Вектора координат характерных точек</label>
         <input type="text" name="xtel1">
            <input type="text" name="ytel1">
              <input type="text" name="ztel1">
     </div>
          <div class="field">
           <label>Число характерных точек второй тележки в таблице набора данных</label>
         <input type="number" name="itel1">
     </div>
            <div class="field">
           <label>Вектора координат характерных точек второй тележки</label>
         <input type="text" name="xtel2">
                <input type="text" name="ytel2">
                <input type="text" name="ztel2">
     </div>
              <button type="submit"  class="button">Добавить</button>
      </form>
 </div>
 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingFive">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
Изменение информации о различных типах верхнего строения пути
 </a>
 </h4>
 </div>
 <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
 <div class="panel-body">
     <div class="main_inp">
         <form action="/testpage/change_VSP" method="post">
{% csrf_token %}
     <div class="field">
          <label>Наименование конструкции верхнего строения пути</label>
          <input type="text" name="v">
     </div>
             <div class="field">
          <label>Модуль упругости рельсовой стали, кгс/см**2</label>
          <input type="text" name="put1">
     </div>
              <div class="field">
          <label>Жесткость в контакте рельса и колеса, кгс/см</label>
          <input type="text" name="put2">
     </div>
                 <div class="field">
          <label>Высота рельса, см</label>
          <input type="text" name="put3">
     </div>
              <div class="field">
          <label>Расстояние от нейтральной оси до нижней грани подошвы рельса, см</label>
          <input type="text" name="put4">
     </div>
             <div class="field">
          <label>Расстояние от центра кручения до нижней грани подошвы рельса, см</label>
          <input type="text" name="put5">
     </div>
              <div class="field">
          <label>Расстояние между центрами тяжести сечений головки и подошвы, см</label>
          <input type="text" name="put6">
     </div>
                 <div class="field">
          <label>Ширина головки, см</label>
          <input type="text" name="put7">
     </div>
              <div class="field">
          <label>Ширина подошвы, см</label>
          <input type="text" name="put8">
     </div>
                 <div class="field">
          <label>Момент инерции поперечного сечения рельса относительно главной вертикальной оси, см**4</label>
          <input type="text" name="put9">
     </div>
              <div class="field">
          <label>Момент инерции поперечного сечения головки рельса относительно главной вертикальной оси, см**4</label>
          <input type="text" name="put10">
     </div>
                 <div class="field">
          <label>Момент инерции поперечного сечения подошвы рельса относительно главной вертикальной оси, см**4</label>
          <input type="text" name="put11">
     </div>
              <div class="field">
          <label>Момент инерции поперечного сечения рельса относительно поперечной нейтральной оси рельса, см**4</label>
          <input type="text" name="put12">
     </div>
             <div class="field">
          <label>Распределенный полярный момент инерции рельса относительно центра кручения, кгс*см**2</label>
          <input type="text" name="put13">
     </div>
              <div class="field">
          <label>Приведенная жесткость головки и подошвы рельса на изгиб, кгс*см**2</label>
          <input type="text" name="put4">
     </div>
                 <div class="field">
          <label>Жесткость рельса на кручение, кгс*см**2</label>
          <input type="text" name="put15">
     </div>
              <div class="field">
          <label>Длина шпалы, см</label>
          <input type="text" name="put16">
     </div>
              <div class="field">
          <label>Ширина нижней постели шпалы, см</label>
          <input type="text" name="put17">
     </div>
              <div class="field">
          <label>Коэффициент изгиба шпалы</label>
          <input type="text" name="put18">
     </div>
                 <div class="field">
          <label>Масса шпалы, кгс*с**2/см</label>
          <input type="text" name="put19">
     </div>
              <div class="field">
          <label>Расстояние между шпалами, см</label>
          <input type="text" name="put20">
     </div>
             <div class="field">
          <label>Модуль упругости подрельсового основания в горизонтальной плоскости, кгс/см**2</label>
          <input type="text" name="put21">
     </div>
              <div class="field">
          <label>Модуль упругости подрельсового основания в вертикальной плоскости, кгс/см**2</label>
          <input type="text" name="put22">
     </div>
                 <div class="field">
          <label>Модуль упругости подрельсового основания в отношении кручения рельса, кгс/рад</label>
          <input type="text" name="put23">
     </div>
              <div class="field">
          <label>Приведенная к рельсу распределенная масса пути при поперечных колебаниях, кгс*с**2/см**2</label>
          <input type="text" name="put24">
     </div>
                 <div class="field">
          <label>Приведенная к рельсу распределенная масса пути при вертикальных колебаниях, кгс*с**2/см**2</label>
          <input type="text" name="put25">
     </div>
              <div class="field">
          <label>Распределенное демпфирование пути при поперечных колебаниях, кгс*с/см**2</label>
          <input type="text" name="put26">
     </div>
                 <div class="field">
          <label>Распределенное демпфирование пути при вертикальных колебаниях, кгс*с/см**2</label>
          <input type="text" name="put27">
     </div>
              <div class="field">
          <label>Распределенное демпфирование пути при крутильных колебаниях, кгс*с/см**2</label>
          <input type="text" name="put28">
     </div>
             <div class="field">
          <label>Коэффициент демпфирования пути при вертикальных колебаниях на уровне нижней постели шпалы, кгс*с/см</label>
          <input type="text" name="put29">
     </div>
              <div class="field">
          <label>Коэффициент демпфирования в узле скрепления, кгс*с/см</label>
          <input type="text" name="put30">
     </div>
                 <div class="field">
          <label>Жесткость основания по нижней постели шпалы, кгс/см</label>
          <input type="text" name="put31">
     </div>
              <div class="field">
          <label>Жесткость узла скрепления, кгс/см</label>
          <input type="text" name="put32">
     </div>
              <div class="field">
          <label>Толщина балласта под шпалой, см</label>
          <input type="text" name="put33">
     </div>
              <button type="submit"  class="button">Добавить</button>
         </form>
     </div>
 </div>
 </div>
 </div>

 </div>

</div><!-- ./row -->
</div><!-- ./container -->
</body>
</html>