<!DOCTYPE html>
<html lang="en">
<head><!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61914508, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61914508" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    <meta charset="UTF-8">
    <title>История</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   ul li {
        display: inline;
        padding: 10px;
       float: left;
}
      /*    .field {clear:both; text-align:right;line-height:25px;}*/
      /*.input_data {float:left}*/
</style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header row">
            <a href="/testpage/calculations" class="navbar-brand col-md-1">ВЭИП 2.0</a>
        </div>
        <div class="col-md-11">
            <ul class="list-inline">
                <li><a href="/testpage/calculations">Расчеты</a></li>
                <li><a href="/testpage/history">История расчетов</a></li>
                <li><a href="/testpage/theory">Теория</a></li>
                <li><a href="/testpage/change">Изменить данные</a></li>
                {% if username %}
                <li><a  href="/auth/logout/">Выйти ({{ username }})</a></li>
                {% else %}
                <li><a href="/auth/login/">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<label>{{ number }}</label>
<div class="container-fluid">
    <div class="row">
        <table class="table">


{#    <thead>#}
{#    <tr>#}
{#        <th>ID</th>#}
{#        <th>Логин</th>#}
{#        <th>Тип поезда</th>#}
{#        <th>Тип пути</th>#}
{#        <th>Скорость м/с</th>#}
{#        <th></th>#}
{#    </tr>#}
{#    </thead>#}
    <tbody>
    {% for id,user,time,tps,vsp,spkh,spkv,ekip,rk,rmk,voz,krip,gor,pol,ugl,skrip,speed in inputdata %}
   <form action="/testpage/viewres" method="post">
{% csrf_token %}
        <tr>
            <input name="id" value="{{ id }}" type="hidden">
            <input name="user" value="{{ user }}" type="hidden">
            <input name="time" value="{{ time }}" type="hidden">
            <th>{{ tps }}<input name="tps" value="{{ tps }}" type="hidden"></th>
            <th>{{ vsp }}<input name="vsp" value="{{ vsp }}" type="hidden"></th>
            <th>{{ spkh }}<input name="spkh" value="{{ spkh }}" type="hidden"></th>
            <th>{{ spkv }}<input name="spkv" value="{{ spkv }}" type="hidden"></th>
            <th>{{ ekip }}<input name="ekip" value="{{ spkv }}" type="hidden"></th>
            <th>{{ rk }}<input name="rk" value="{{ rk }}" type="hidden"></th>
            <th>{{ rmk }}<input name="rmk" value="{{ rmk }}" type="hidden"></th>
            <th>{{ voz }}<input name="voz" value="{{ voz }}" type="hidden"></th>
            <th>{{ krip }}<input name="krip" value="{{ krip }}" type="hidden"></th>
            <th>{{ gor }}<input name="gor" value="{{ gor }}" type="hidden"></th>
            <th>{{ pol }}<input name="pol" value="{{ pol }}" type="hidden"></th>
            <th>{{ ugl }}<input name="ugl" value="{{ ugl }}" type="hidden"></th>
            <th>{{ skrip }}<input name="skrip" value="{{ skrip }}" type="hidden"></th>
            <th>{{ speed }}<input name="speed" value="{{ speed }}" type="hidden"></th>
{#            <th>{{ status }}</th>#}
            <th><button type="submit" >Результат</button></th>
        </tr>
    </form>

    {% endfor %}
    </tbody>
        </table>
    </div>
</div>
</body>
</html>