<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61914508, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61914508" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    <title>Теория</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#accordion .panel{
 border: none;
 box-shadow: none;
 border-radius: 0;
 margin-bottom: -5px;
}
#accordion .panel-heading{
 padding: 0;
 border-radius: 0;
 border: none;
 text-align: center;
}
#accordion .panel-title a{
 display: block;
 padding: 25px 30px;
 font-size: 16px;
 font-weight: bold;
 color: #fff;
 background: #333;
 border-bottom: 1px solid #4a4a4a;
 position: relative;
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a:hover{
 background: #4a4a4a;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
 content: "\f067";
 font-family: FontAwesome;
 font-size: 15px;
 font-weight: 200;
 position: absolute;
 top: 25px;
 left: 15px;
 transform: rotate(135deg);
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:after{
 transform: rotate(0deg);
}
#accordion .panel-body{
 background: #167ea0;
 padding: 0 0 0 40px;
 border: none;
 position: relative;
}
#accordion .panel-body p{
 font-size: 14px;
 color: #fff;
 line-height: 25px;
 background: #3296b7;
 padding: 30px;
 margin: 0;
}
#accordion .panel-body label{
 font-size: 14px;
 color: #fff;

}
#accordion .panel-collapse .panel-body p{
 opacity: 0;
 transform: scale(0.9);
 transition: all 0.5s ease-in-out 0s;
}
#accordion .panel-collapse.in .panel-body p{
 opacity: 1;
 transform: scale(1);
}
    ul li {
        display: inline;
        padding: 10px;
       float: left;
}
    .field {clear:both; text-align:right; padding-left: 10%; padding-right: 10%;}
    label {float:left; }
    .main_inp {float:left; width:100%;}
    .button {float:right;  margin-right: 10%;}
</style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header row">
            {% if username %}
            <a href="/testpage/calculations" class="navbar-brand col-md-1">ВЭИП 2.0</a>
            {% else %}
            <a href="#" class="navbar-brand col-md-1">ВЭИП 2.0</a>
            {% endif %}
        </div>
        <div class="col-md-11">
            <ul class="list-inline">
            {% if username %}
                <li class="active"><a href="/testpage/calculations">Расчеты</a></li>
                <li><a href="/testpage/history">История расчетов</a></li>
                <li><a href="#">Теория</a></li>
                <li><a href="/testpage/change">Изменить данные</a></li>
                <li><a  href="/auth/logout/">Выйти ({{ username }})</a></li>
                {% else %}
                <li><a href="#">Теория</a></li>
                <li><a href="/auth/login/">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid">
<div class="row">


 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width:100%;">

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingOne">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Расчет №1
 </a>
 </h4>
 </div>
 <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" >
 <div class="panel-body">
     <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum orci. Integer nec est lorem. Donec scelerisque consectetur dui, vel semper dolor sollicitudin quis. Aenean laoreet id odio in imperdiet. Praesent sit amet sem tellus. Suspendisse ut malesuada diam. Nunc nibh elit, tincidunt sit amet dui non, suscipit vestibulum lacus.
     </p>
     <p>
         Nam mollis nulla a nulla feugiat, eget vestibulum magna faucibus. Suspendisse interdum tristique laoreet. In nec imperdiet nisl. Suspendisse nulla orci, porta at velit eu, iaculis sodales mauris. Duis ac felis vel leo pellentesque efficitur. Nam euismod egestas diam ac pharetra. Nulla mauris ex, ullamcorper ut elit et, congue venenatis massa. Phasellus vitae velit tristique, vehicula ante et, mattis dolor. Aliquam mollis sollicitudin dictum. Etiam mollis malesuada facilisis. Integer ut augue pellentesque, vulputate diam vel, laoreet leo. Nulla facilisi. Vestibulum volutpat elit sem, vitae porttitor metus convallis eget. Integer tellus dui, lacinia a mauris ut, dictum posuere velit. Nunc id tellus dui.
     </p>
     <p>
         Sed id convallis risus. Integer malesuada vulputate justo, nec convallis felis iaculis eu. Aenean turpis risus, lacinia nec sagittis vitae, venenatis vitae enim. Nunc viverra dapibus risus. Nullam feugiat, nibh at venenatis rhoncus, nisi nunc condimentum magna, quis tincidunt erat nibh fringilla felis. Nam dignissim vel dui sed auctor. Mauris in vestibulum lacus, eu placerat sem. Nam dui massa, tempus sit amet vehicula ac, volutpat in libero. In non orci pretium, placerat velit in, euismod leo. Sed quis iaculis elit. Praesent bibendum a est nec cursus. Suspendisse dignissim congue quam non faucibus. Praesent lorem tellus, mattis non pulvinar ac, eleifend id mauris.
     </p>
     <p>
          Nullam varius magna sed erat tempor, sed vestibulum enim volutpat. Donec efficitur, urna vitae consequat interdum, velit risus mollis sapien, quis cursus turpis mi id purus. Vestibulum porta mi sed interdum ultricies. Suspendisse id porta metus, eu sodales lacus. Ut id sapien vitae nulla.
     </p>

 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingTwo">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Расчет №2
 </a>
 </h4>
 </div>
 <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
 <div class="panel-body">
     <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum orci. Integer nec est lorem. Donec scelerisque consectetur dui, vel semper dolor sollicitudin quis. Aenean laoreet id odio in imperdiet. Praesent sit amet sem tellus. Suspendisse ut malesuada diam. Nunc nibh elit, tincidunt sit amet dui non, suscipit vestibulum lacus.
     </p>
     <p>
         Nam mollis nulla a nulla feugiat, eget vestibulum magna faucibus. Suspendisse interdum tristique laoreet. In nec imperdiet nisl. Suspendisse nulla orci, porta at velit eu, iaculis sodales mauris. Duis ac felis vel leo pellentesque efficitur. Nam euismod egestas diam ac pharetra. Nulla mauris ex, ullamcorper ut elit et, congue venenatis massa. Phasellus vitae velit tristique, vehicula ante et, mattis dolor. Aliquam mollis sollicitudin dictum. Etiam mollis malesuada facilisis. Integer ut augue pellentesque, vulputate diam vel, laoreet leo. Nulla facilisi. Vestibulum volutpat elit sem, vitae porttitor metus convallis eget. Integer tellus dui, lacinia a mauris ut, dictum posuere velit. Nunc id tellus dui.
     </p>
     <p>
         Sed id convallis risus. Integer malesuada vulputate justo, nec convallis felis iaculis eu. Aenean turpis risus, lacinia nec sagittis vitae, venenatis vitae enim. Nunc viverra dapibus risus. Nullam feugiat, nibh at venenatis rhoncus, nisi nunc condimentum magna, quis tincidunt erat nibh fringilla felis. Nam dignissim vel dui sed auctor. Mauris in vestibulum lacus, eu placerat sem. Nam dui massa, tempus sit amet vehicula ac, volutpat in libero. In non orci pretium, placerat velit in, euismod leo. Sed quis iaculis elit. Praesent bibendum a est nec cursus. Suspendisse dignissim congue quam non faucibus. Praesent lorem tellus, mattis non pulvinar ac, eleifend id mauris.
     </p>
     <p>
          Nullam varius magna sed erat tempor, sed vestibulum enim volutpat. Donec efficitur, urna vitae consequat interdum, velit risus mollis sapien, quis cursus turpis mi id purus. Vestibulum porta mi sed interdum ultricies. Suspendisse id porta metus, eu sodales lacus. Ut id sapien vitae nulla.
     </p>


  </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingThree">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Расчет №3
 </a>
 </h4>
 </div>
 <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
 <div class="panel-body">
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia lacinia mauris, at ultricies leo ornare nec. Vivamus eu est vel felis dignissim tempor. Nulla facilisi. Duis molestie tortor ac tempor volutpat. Phasellus nec mi aliquet, sollicitudin neque eget, consectetur libero. Vestibulum sollicitudin sapien libero, egestas tempus eros scelerisque eu.</p>
 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingFour">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
Расчет №4
 </a>
 </h4>
 </div>
 <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
 <div class="panel-body">
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia lacinia mauris, at ultricies leo ornare nec. Vivamus eu est vel felis dignissim tempor. Nulla facilisi. Duis molestie tortor ac tempor volutpat. Phasellus nec mi aliquet, sollicitudin neque eget, consectetur libero. Vestibulum sollicitudin sapien libero, egestas tempus eros scelerisque eu.</p>
 </div>
 </div>
 </div>


 </div>

</div><!-- ./row -->
</div><!-- ./container -->

</body>
</html>