<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61914508, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61914508" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    <title>Теория</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#accordion .panel{
 border: none;
 box-shadow: none;
 border-radius: 0;
 margin-bottom: -5px;
}
#accordion .panel-heading{
 padding: 0;
 border-radius: 0;
 border: none;
 text-align: center;
}
#accordion .panel-title a{
 display: block;
 padding: 25px 30px;
 font-size: 16px;
 font-weight: bold;
 color: #fff;
 background: #333;
 border-bottom: 1px solid #4a4a4a;
 position: relative;
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a:hover{
 background: #4a4a4a;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
 content: "\f067";
 font-family: FontAwesome;
 font-size: 15px;
 font-weight: 200;
 position: absolute;
 top: 25px;
 left: 15px;
 transform: rotate(135deg);
 transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:after{
 transform: rotate(0deg);
}
#accordion .panel-body{
 background: #167ea0;
 padding: 0 0 0 40px;
 border: none;
 position: relative;
}
#accordion .panel-body p{
 font-size: 14px;
 color: #fff;
 line-height: 25px;
 background: #3296b7;
 padding: 30px;
 margin: 0;
}
#accordion .panel-body label{
 font-size: 14px;
 color: #fff;

}
#accordion .panel-collapse .panel-body p{
 opacity: 0;
 transform: scale(0.9);
 transition: all 0.5s ease-in-out 0s;
}
#accordion .panel-collapse.in .panel-body p{
 opacity: 1;
 transform: scale(1);
}
    ul li {
        display: inline;
        padding: 10px;
       float: left;
}
    .field {clear:both; text-align:right; padding-left: 10%; padding-right: 10%;}
    label {float:left; }
    .main_inp {float:left; width:100%;}
    .button {float:right;  margin-right: 10%;}
</style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header row">
            {% if username %}
            <a href="/testpage/calculations" class="navbar-brand col-md-1">ВЭИП 2.0</a>
            {% else %}
            <a href="#" class="navbar-brand col-md-1">ВЭИП 2.0</a>
            {% endif %}
        </div>
        <div class="col-md-11">
            <ul class="list-inline">
            {% if username %}
                <li class="active"><a href="/testpage/calculations">Расчеты</a></li>
                <li><a href="/testpage/history">История расчетов</a></li>
                <li><a href="#">Теория</a></li>
                <li><a href="/testpage/change">Изменить данные</a></li>
                <li><a  href="/auth/logout/">Выйти ({{ username }})</a></li>
                {% else %}
                <li><a href="#">Теория</a></li>
                <li><a href="/auth/login/">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid">
<div class="row">


 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width:100%;">

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingOne">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Общие положения
 </a>
 </h4>
 </div>
 <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" >
 <div class="panel-body">
     <p>
       Программа Взаимодействие экипажа и пути при пространственных колебаниях подвижного состава, сокращенно ВЭИП, разработана во ВНИИЖТе под руководством д.т.н. Когана А.Я. коллективом авторов:
Д.т.н. Коган А.Я.,
к.т.н. Левинзон М.А.,
инж. Войтов И.О.,
к.т.н. Гаврилов В.М.,
инж. Перельштейн А.Л..      </p>
     <p>
        Система ВЭИП 2.0 была разработана на основе алгоритмов, применяющихся в системе ВЭИП. В разработке системы принимали участие студенты кафедры Автоматизированные системы управления Российского Университета Транспорта:
Гавкин Н.Э., Костин Д.Н., Панферов В.Д. под руководством: доцента Варфоломеева В.А.и заведующего кафедрой АСУ Лецкого Э.К.
     </p>
     <p>
        Основные алгоритмы и теоретические разработки, положенные в основу рассматриваемого программного продукта изложены в следующих работах:
<br>1. Вериго М.Ф., Коган А.Я. Взаимодействие экипажа и пути. Москва, Транспорт, 1985г.
<br>2. Коган А.Я. Вертикальные динамические силы, действующие на путь. Москва, Транспорт, Труды ЦНИИ МПС вып.402, 1969г.
<br>3. Расчеты железнодорожного пути на вертикальную динамическую нагрузку /Под редакцией А.Я.Когана: Труды ВНИИЖТ. Вып. 502. - М.:Транспорт.1973.-72с.
<br>4. Коган А.Я. Поперечные горизонтальные силы, действующие на железнодорожный путь в прямых участках. М., Транспорт, 1979, 88 с. (Труды ВНИИЖТ, вып.619)
<br>5. Воздействие экипажа на путь при пространственных колебаниях подвижного состава. Программа /ВНТИЦентр 50850000106. Коган А.Я., Войтов И.О., Левинзон М.А., Гаврилов В.М., Перельштейн А.Л.
<br>6. Взаимодействие экипажа и пути при пространственных колебаниях подвижного состава. Программа / ВНТИЦентр 50860000816 Коган А.Я., Шестаков В.Н., Левинзон М.А.     </p>
 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingTwo">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Назначение системы
 </a>
 </h4>
 </div>
 <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
 <div class="panel-body">
     <p>
       Программа ВЭИП предназначена для оценки параметров силового воздействия на путь подвижного состава, напряженно-деформированного состояния пути, а также перемещения характерных точек экипажа при движении по пути реального очертания.
<br>В основе системы ВЭИП лежит математическая модель, в которой рассматриваются пространственные колебания экипажа. Для проведения исследования они раскладываются на две независимые группы колебаний:
<br>- колебания галопирования и подпрыгивания,
<br>- колебания виляния, относа и боковой качки.
<br>Затем результаты расчета, полученные по каждой из двух групп колебаний, объединяются с использованием принципа суперпозиции. Расчетная схема экипажа представляется как система абсолютно твердых тел, между элементами которой существуют линейные связи, зависящие от относительных перемещений и скоростей.    </p>

  </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingThree">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Входные данные системы
 </a>
 </h4>
 </div>
 <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
 <div class="panel-body">
 <p> Данные об экипаже:
<br>Наименование подвижного состава
<br>Жесткость поперечной связи между колесной парой и тележкой, кН/м
<br>Жесткость поперечной связи между кузовом и тележкой, кН/м
<br>Жесткость надбуксовой ступени подвешивания, кН/м
<br>Жесткость центральной ступени подвешивания, кН/м
<br>Угловая жесткость поворота колесной пары относительно тележки, кН*м
<br>Угловая жесткость поворота тележки относительно кузова,кН*м
<br>Масса колесной пары, кг
<br>Масса рамы тележки, кг
<br>Масса кузова, кг
<br>Статическая нагрузка на колесо, кН
<br>Эффективная конусность бандажа
<br>Радиус колеса, м
<br>Расстояние от центра качаний до центра масс кузова,м
<br>Половина поперечного расстояния между рессорными комплектами,м
<br>Центральный момент инерции колесной пары относительно вертикальной оси, кг*m<sup>2</sup>
<br>Центральный момент инерции рамы тележки относительно вертикальной оси, кг*m<sup>2</sup>
<br>Центральный момент инерции рамы тележки относительно горизонтальной поперечной оси, кг*m<sup>2</sup>
<br>Центральный момент инерции кузова относительно вертикальной оси, кг*m<sup>2</sup>
<br>Центральный момент инерции относительно горизонтальной продольной оси, кг*m<sup>2</sup>
<br>Центральный момент инерции относительно горизонтальной поперечной оси, кг*m<sup>2</sup>
<br>Коэффициент демпфирования поперечной связи тележки с кузовом, кН*c/m
<br>Коэффициент демпфирования в надбуксовой ступени подвешивания, кН*c/m
<br>Коэффициент демпфирования в центральной ступени подвешивания, кН*c/m
<br>Коэффициент углового демпфирования при повороте тележки относительно кузова
<br>Расстояние от центра
<br>Число тележек
<br>Число осей в тележке
<br>Координаты точек подвешивания тележек, м
<br>Координаты точек подвешивания колесных пар, м
<br>Вектора координат характерных точек кузова (x,y,z)
<br>Вектора координат характерных точек тележек (x,y,z)
<br>Скорость движения, м/с
 </p>
     <p>
         Данные о пути:
<br>Наименование конструкции верхнего строения пути
<br>Модуль упругости рельсовой стали, кгс/см<sup>2</sup>
<br>Жесткость в контакте рельса и колеса, кгс/см
<br>Высота рельса, см
<br>Расстояние от нейтральной оси до нижней грани подошвы
<br>рельса, см
<br>Расстояние от центра кручения до нижней грани подошвы рельса, см
<br>Расстояние между центрами тяжести сечений головки и подошвы, см
<br>Ширина головки, см
<br>Ширина подошвы, см
<br>Момент инерции поперечного сечения рельса относительно главной вертикальной оси, см<sup>4</sup>
<br>Момент инерции поперечного сечения головки рельса относительно главной вертикальной оси, см<sup>4</sup>
<br>Момент инерции поперечного сечения подошвы рельса относительно главной вертикальной оси, см<sup>4</sup>
<br>Момент инерции поперечного сечения рельса относительно поперечной нейтральной оси рельса, см<sup>4</sup>
<br>Распределенный полярный момент инерции рельса относительно центра кручения, кгс*см<sup>2</sup>
<br>Приведенная жесткость головки и подошвы рельса на изгиб, кгс*см<sup>2</sup>
<br>Жесткость рельса на кручение, кгс*см**2
<br>Длина шпалы, см
<br>Ширина нижней постели шпалы, см
<br>Коэффициент изгиба шпалы
<br>Масса шпалы, кгс*с**2/см
<br>Расстояние между шпалами, см
<br>Модуль упругости подрельсового основания в горизонтальной плоскости, кгс/см<sup>2</sup>
<br>Модуль упругости подрельсового основания в вертикальной плоскости, кгс/см<sup>2</sup>
<br>Модуль упругости подрельсового основания в отношении кручения рельса, кгс/рад
<br>Приведенная к рельсу распределенная масса пути при поперечных колебаниях, кгс*с<sup>2</sup>/см<sup>2</sup>
<br>Приведенная к рельсу распределенная масса пути при вертикальных колебаниях, кгс*с<sup>2</sup>/см<sup>2</sup>
<br>Распределенное демпфирование пути при поперечных колебаниях, кгс*с/см<sup>2</sup>
<br>Распределенное демпфирование пути при вертикальных колебаниях, кгс*с/см<sup>2</sup>
<br>Распределенное демпфирование пути при крутильных колебаниях, кгс*с/см<sup>2</sup>
<br>Коэффициент демпфирования пути при вертикальных колебаниях на уровне нижней постели шпалы, кгс*с/см
<br>Коэффициент демпфирования в узле скрепления, кгс*с/см
<br>Жесткость основания по нижней постели шпалы, кгс/см
<br>Жесткость узла скрепления, кгс/см
<br>Толщина балласта под шпалой, см
<br>Радиус кривой, м
<br>Расстояние между кругами катания, м
<br>Возвышение наружного рельса, м
<br>Коэффициент Крипа, тс/м
<br>Горизонтальная жесткость пути, тс/м
<br>Половина ширины зазора в колее
<br>Угловой коэффициент
<br>Соотношение коэффициентов Крипа
     </p>
     <p>
         Данные о спектральных плотностях:
<br>Вектор частот, 2*3.14/м
<br>Вектор спектральных плотностей неровностей пути в плане в горизонтальной плоскости, м<sup>3</sup>/(2*3.14)
<br>Вектор спектральных плотностей неровностей пути по уровню в горизонтальной плоскости, м*3/(2*3.14)
<br>Вектор спектральных плотностей неровностей пути в продольном профиле в вертикальной плоскости, см<sup>3</sup>/(2*3.14)
<br>Вектор спектральных плотностей неровностей на поверхности катания колеса в вертикальной плоскости, см<sup>3</sup>/(2*3.14)
<br>Вектор спектральных плотностей зазоров между рельсом и основанием в вертикальной плоскости, см<sup>3</sup>/(2*3.14)

     </p>
 </div>
 </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-heading" role="tab" id="headingFour">
 <h4 class="panel-title">
 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
Выходные данные системы
 </a>
 </h4>
 </div>
 <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
 <div class="panel-body">
 <p>На данный момент разработан только модуль моделирования вертикальных колебаний системы. Его выходными данными являются:
<br>Средние и СКО силы на рельс, кгс
<br>Средние и СКО осевого напряжения, кгс/см<sup>2</sup>
<br>Средние и СКО прогиба рельса, см
<br>Средние и СКО силы на шпалу, см
<br>Средние и СКО напряжения в балласте, кгс/см<sup>2</sup>
<br>Средние и СКО напряжения на ОПЗП, кгс/см<sup>2</sup>
<br>Средние и СКО ускорения рельса, доли G
<br>Средние и СКО ускорения шпалы, доли G
<br>Средние и СКО ускорения буксы, доли G
</p><p>
В дальнейшем системы ВЭИП 2.0 будет дорабатываться, появятся новые модули и будут рассчитываться новые величины.
</p>
 </div>
 </div>
 </div>


 </div>

</div><!-- ./row -->
</div><!-- ./container -->

</body>
</html>